
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 html, body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;

} 
 
.nav {
    height: 25px;
    top: 40px;
    left: 77px;
} 

.not-found {
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px;   
}

.container {
    display: flex;
}


